.blur {
  filter: blur(20px);
  opacity: 0.5;
}

.blur_remove {
  animation: blur 1s linear forwards;
  /* animation-delay: 1s; */
}

@keyframes blur {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0px);
  }
}
